{
    "env": {
        "es6": true,
        "node": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "legacyDecorators": true
        },
        "ecmaVersion": 2020,
        "sourceType": "module"
    },
    "extends": ["airbnb-base", "prettier"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": ["error"],
        "import/prefer-default-export": "off"
    }
}